body, table, tr, th, td, form, input, ul, li, div, a,br{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Microsoft Yahei";
}

.red td{
    color: red;
}
table th{
    color: #fff;
    background: #000;
    text-align: left;
}
table tr:nth-child(2n+1){
    background-color: #CCC;
}

form .change{
    margin-top: 30px;
    height: 22px;
    width: 120px;
    transition: 0.6s width;
    
}

form .change:focus{
    width: 220px;
    border:1px solid #6699ff;
    box-shadow: 0px 0px 2px #6699ff;
}

